<template name="signupLogin">
    <h1>Sign Up/Log In</h1>
    <form class="logMeIn">
        <div class="row">
            <div class="input-field">
                <input name="email" id="email" type="email" required />
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input name="password" id="password" type="password" required />
                <label for="password">Password</label>
            </div>
        </div>

        <button type="submit" class="btn waves-effect waves-light">Boom.</button>
    </form>
</template>