<template name="header">

    <nav>
        <div class="nav-wrapper blue">
            <a href="#" class="brand-logo left">Logo</a>
            <ul id="nav-mobile" class="right side-nav">
                {{#if currentUser}}
                    <li class="logout">Logout</li>
                {{else}}
                    {{#if activeRouteClass 'signupLogin'}}
                        <!-- do nothing -->
                    {{else}}
                        <li class="signupLogin">Sign Up/Log In</li>
                    {{/if}}
                {{/if}}
            </ul>
        </div>
    </nav>



</template>